body{
    display:flex;
    align-items:flex-end;
    justify-content: center;
    height:500px;
    background-color: purple;
}
h1{
    text-align: center;
    margin-bottom:250px;
    color: pink
}
.rock{
    background-image: url(https://imgs.search.brave.com/0w7mBxd48eaOvpNmKdWcaQNpDS6cKYIBuhEw1zvnYZs/rs:fit:625:455:1/g:ce/aHR0cDovL3d3dy5i/aXRyZWJlbHMuY29t/L3dwLWNvbnRlbnQv/dXBsb2Fkcy8yMDEx/LzAyL2V4dHJlbWU0/LmpwZw);
    height:200px;
    width:200px;
    background-position:center;
    background-size: contain;

}
.paper{
    background-image:url(https://imgs.search.brave.com/70gGxcPMBPduSmvB6OIGnjz3xts3fOPs88tn_45jjYI/rs:fit:1200:1200:1/g:ce/aHR0cDovL3VwbG9h/ZC53aWtpbWVkaWEu/b3JnL3dpa2lwZWRp/YS9jb21tb25zL2Ev/YWYvUm9jay1wYXBl/ci1zY2lzc29yc18o/cGFwZXIpLnBuZw);
    height:200px;
    width: 200px;
    background-position: center;
    background-size: contain;
}
.scissors{
    background-image:url(https://imgs.search.brave.com/rR1NhvksWNWQ3qHsYMbqeUaGWFLiJrLxaEXUk-xKwU0/rs:fit:1200:1200:1/g:ce/aHR0cHM6Ly93d3cu/Z2FubmV0dC1jZG4u/Y29tLy1tbS0vNmI3/NDVkOTc5MTM0ODAy/MGEwN2UzNWYzMmY1/NDhiNDU5MzhlZTBl/Ny9jPTAtMTc5My0y/NTkyLTMyNTUvbG9j/YWwvLS9tZWRpYS9V/U0FUT0RBWS9VU0FU/T0RBWS8yMDE0LzA1/LzAxLzEzOTg5Njkz/NjAwMDAtWFhYLVJP/Q0tQQVBFUlNDSVNT/T1JTLUFQUzAxNzAt/LkpQRz93aWR0aD0z/MjAwJmhlaWdodD0x/NjgwJmZpdD1jcm9w);
    background-size:contain;
    background-position:center;
    height:200px;
    width:200px;
}
button{
    color: red;
    border-color:blue;
    font-weight:bold;

}